@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>

        <article class="content px-4">
            @Body
        </article>

        <footer class="footer">
            <span>© @DateTime.Now.Year APSIM Initiative</span>
            <span class="footer-separator">|</span>
            <a href="https://www.apsim.info" target="_blank" rel="noopener noreferrer">apsim.info</a>
        </footer>

    </main>

</div>

