@using Components.Custom
@namespace Components.Layout

<div class="container">

    <div id="row-1" class="row">
        <DocLink DocModelName="Clock" 
            DocDisplayName="Clock"
            DocDescript="Model documentation for Clock." 
            DocLinkHref="model/Clock"/>

        <DocLink DocModelName="ZadokPMFWheat" 
            DocDisplayName="ZadokPMFWheat" 
            DocDescript="Model documentation for ZadokPMFWheat." 
            DocLinkHref="model/ZadokPMFWheat"/>
            
        <DocLink DocModelName="Waterlogging"
            DocDisplayName="Waterlogging" 
            DocDescript="Model documentation for Waterlogging model." 
            DocLinkHref="model/Waterlogging"/>
    </div>
</div>


