@using Components.Custom
@namespace Components.Layout

<div class="container">
    <div class="row">
        <DocLink DocModelName="ClimateController" 
            DocDisplayName="Climate Controller"
            DocLinkHref="tutorial/ClimateController"
            DocDescript="Usage of climate control manager component.">
        </DocLink> 

        <DocLink DocModelName="Lifecycle" 
            DocDisplayName="Lifecycle"
            DocLinkHref="tutorial/Lifecycle"
            DocDescript="Describes managing the lifecycle of a pseudoaphid.">
        </DocLink> 

        <DocLink DocModelName="Manager" 
            DocDisplayName="Manager"
            DocLinkHref="tutorial/Manager"
            DocDescript="Provides two tutorials covering sowing fertiliser topup and water and N topup rules.">
        </DocLink> 

        <DocLink DocModelName="Sensitivity_MorrisMethod"
            DocDisplayName="Parameter sensitivity (Morris)"
            DocLinkHref="tutorial/Sensitivity_MorrisMethod"
            DocDescript="Describes the process of using the Morris method for parameter sensitivity analysis.">
        </DocLink> 

        <DocLink DocModelName="Sensitivity_SobolMethod"
            DocDisplayName="Parameter sensitivity (SOBOL)"
            DocLinkHref="tutorial/Sensitivity_SobolMethod"
            DocDescript="Describes the process of using the SOBOL method for parameter sensitivity analysis.">
        </DocLink> 

        <DocLink DocModelName="Sensitivity_FactorialANOVA"
            DocDisplayName="Parameter sensitivity (Factorial ANOVA)" 
            DocLinkHref="tutorial/Sensitivity_FactorialANOVA"
            DocDescript="Describes the process of using the Factorial ANOVA method for parameter sensitivity analysis.">
        </DocLink> 

        <DocLink DocModelName="PredictedObserved"
            DocDisplayName="Predicted/Observed Data Handling"
            DocLinkHref="tutorial/PredictedObserved"
            DocDescript="Describes the process of predicted/observed data handling for fitting plant models.">
        </DocLink> 

        <DocLink DocModelName="Report" 
            DocDisplayName="Report"
            DocLinkHref="tutorial/Report"
            DocDescript="Provides tutorials and instruction on how to use the Report model.">
        </DocLink> 

        <DocLink DocModelName="CLEM Documentation site" 
            DocDisplayName="CLEM Documentation site"
            DocLinkHref="https://www.apsim.info/clem/Content/Home.htm"
            DocDescript="Specific site for CLEM information">
        </DocLink> 

        <DocLink DocModelName="CLEM_Example_Cropping" 
            DocDisplayName="CLEM Cropping Examples"
            DocLinkHref="doc/CLEM_Example_Cropping"
            DocDescript="Setting up cropping simulations">
        </DocLink> 

        <DocLink DocModelName="CLEM_Example_Grazing" 
            DocDisplayName="CLEM Grazing Example"
            DocLinkHref="doc/CLEM_Example_Grazing"
            DocDescript="CLEM grazing simulation example">
        </DocLink> 

        <DocLink DocModelName="TreadingDamageInPastures" 
            DocDisplayName="Treading Damage in Pastures"
            DocLinkHref="doc/TreadingDamageInPastures"
            DocDescript="Enabling Livestock Treading Effects on Soil and Pastures">
        </DocLink> 

        <DocLink DocModelName="InitialisingSoilCarbonPools" 
            DocDisplayName="Initialising Soil Carbon Pools"
            DocLinkHref="doc/InitialisingSoilCarbonPools"
            DocDescript="Instructions for initialising soil carbon pools">
        </DocLink> 
    </div>
</div>