@using Components.Custom
@namespace Components.Layout

<div class="container">

    <div id="row-1" class="row">
        <DocLink DocModelName="AgPasture" 
            DocDisplayName="AgPasture"
            DocDescript="Contains description and validation, interface science documentation and a species table." 
            DocLinkHref="validation/AgPasture"/>

        <DocLink DocModelName="Barley" 
            DocDisplayName="Barley" 
            DocDescript="Contains description and validation" 
            DocLinkHref="validation/Barley"/>

        <DocLink DocModelName="Canola" 
            DocDisplayName="Canola"
            DocDescript="Contains description and validation" 
            DocLinkHref="validation/Canola"/>

        <DocLink DocModelName="Chicory" 
            DocDisplayName="Chicory"
            DocDescript="Contains description and validation" 
            DocLinkHref="validation/Chicory"/>

        <DocLink DocModelName="Chickpea" 
            DocDisplayName="Chickpea"
            DocDescript="Contains description and validation" 
            DocLinkHref="validation/Chickpea"/>

        <DocLink DocModelName="Eucalyptus" 
            DocDisplayName="Eucalyptus"
            DocDescript="Contains description and validation" 
            DocLinkHref="validation/Eucalyptus"/>

        <DocLink DocModelName="FodderBeet" 
            DocDisplayName="FodderBeet"
            DocDescript="Contains description and validation" 
            DocLinkHref="validation/FodderBeet"/>           

        <DocLink DocModelName="Gliricidia" 
            DocDisplayName="Gliricidia"
            DocDescript="Contains description and validation" 
            DocLinkHref="validation/Gliricidia"/>

        <DocLink DocModelName="Grapevine" 
            DocDisplayName="Grapevine"
            DocDescript="Contains description and validation" 
            DocLinkHref="validation/Grapevine"/>

        <DocLink DocModelName="Maize" 
            DocDisplayName="Maize"
            DocDescript="Contains description and validation" 
            DocLinkHref="validation/Maize"/>

        <DocLink DocModelName="MicroClimate" 
            DocDisplayName="MicroClimate"
            DocDescript="Contains description and validation" 
            DocLinkHref="validation/MicroClimate"/>

        <DocLink DocModelName="Mungbean" 
            DocDisplayName="Mungbean"
            DocDescript="Contains description and validation" 
            DocLinkHref="validation/Mungbean"/>              

        <DocLink DocModelName="Nutrient" 
            DocDisplayName="Nutrient"
            DocDescript="Contains description and validation" 
            DocLinkHref="validation/Nutrient"/>

        <DocLink DocModelName="Oats" 
            DocDisplayName="Oats"
            DocDescript="Contains description and validation" 
            DocLinkHref="validation/Oats"/>

        <DocLink DocModelName="OilPalm" 
            DocDisplayName="OilPalm"
            DocDescript="Contains description and validation" 
            DocLinkHref="validation/OilPalm"/>

        <DocLink DocModelName="Peanut" 
            DocDisplayName="Peanut"
            DocDescript="Contains description and validation" 
            DocLinkHref="validation/Peanut"/>             

        <DocLink DocModelName="Pinus" 
            DocDisplayName="Pinus"
            DocDescript="Contains description and validation" 
            DocLinkHref="validation/Pinus"/>

        <DocLink DocModelName="PlantainForage" 
            DocDisplayName="PlantainForage"
            DocDescript="Contains description and validation" 
            DocLinkHref="validation/PlantainForage"/>

        <DocLink DocModelName="Potato" 
            DocDisplayName="Potato"
            DocDescript="Contains description and validation" 
            DocLinkHref="validation/Potato"/>

        <DocLink DocModelName="RedClover"
            DocDisplayName="RedClover"
            DocDescript="Contains description and validation" 
            DocLinkHref="validation/RedClover"/>         

        <DocLink DocModelName="SCRUM" 
            DocDisplayName="SCRUM"
            DocDescript="Contains description and validation" 
            DocLinkHref="validation/SCRUM"/>

        <DocLink DocModelName="Slurp" 
            DocDisplayName="Slurp"
            DocDescript="Contains description and validation" 
            DocLinkHref="validation/Slurp"/>

        <DocLink DocModelName="SoilArbitrator" 
            DocDisplayName="SoilArbitrator"
            DocDescript="Contains description and validation" 
            DocLinkHref="validation/SoilArbitrator"/>

        <DocLink DocModelName="SoilTemperature" 
            DocDisplayName="SoilTemperature"
            DocDescript="Contains description and validation" 
            DocLinkHref="validation/SoilTemperature"/>            

        <DocLink DocModelName="SoilWater" 
            DocDisplayName="SoilWater"
            DocDescript="Contains description and validation." 
            DocLinkHref="validation/SoilWater"/>

        <DocLink DocModelName="Sorghum" 
            DocDisplayName="Sorghum"
            DocDescript="Contains description and validation" 
            DocLinkHref="validation/Sorghum"/>

        <DocLink DocModelName="SorghumDCaPST" 
            DocDisplayName="Sorghum DCaPST"
            DocLinkHref="validation/SorghumDCaPST"
            DocDescript="Describes the diurnal canopy photosynthesis-transpiration (DCaPST) model for Sorghum">
        </DocLink>

        <DocLink DocModelName="Soybean" 
            DocDisplayName="Soybean"
            DocDescript="Contains description and validation" 
            DocLinkHref="validation/Soybean"/>

        <DocLink DocModelName="SPRUM" 
            DocDisplayName="SPRUM"
            DocDescript="Contains description and validation" 
            DocLinkHref="validation/SPRUM"/>

        <DocLink DocModelName="STRUM" 
            DocDisplayName="STRUM"
            DocDescript="Contains description and validation" 
            DocLinkHref="validation/STRUM"/>

        <DocLink DocModelName="Sugarcane" 
            DocDisplayName="Sugarcane"
            DocDescript="Contains description and validation" 
            DocLinkHref="validation/Sugarcane"/>

        <DocLink DocModelName="Stock" 
            DocDisplayName="Stock"
            DocDescript="Contains description and validation" 
            DocLinkHref="validation/Stock"/>       

        <DocLink DocModelName="SWIM" 
            DocDisplayName="SWIM"
            DocDescript="Contains description and validation" 
            DocLinkHref="validation/SWIM"/>

        <DocLink DocModelName="Wheat" 
            DocDisplayName="Wheat"
            DocDescript="Contains description and validation" 
            DocLinkHref="validation/Wheat"/>

        <DocLink DocModelName="WhiteClover" 
            DocDisplayName="WhiteClover"
            DocDescript="Contains description and validation" 
            DocLinkHref="validation/WhiteClover"/>

    </div>
</div>


