@using APSIM.Docs.Components.State
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Mvc
@* @using APSIM.Documentation.Models *@
@using System
@inject StateContainer StateContainer
@inject NavigationManager NavigationManager


@namespace Components.Custom

<div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 g-2 d-flex">
    <div class="card card-hover-shadow w-100">
        <NavLink class="nav-link h-100" href="@DocLinkHref">
            <img class="d-block mx-auto" src="Wheat.svg" alt="wheat image" width="25"/>
            <div class="card-body d-flex flex-column">
                <h5 class="card-title text-success">@DocDisplayName</h5>
                <h6 class="class-subtitle text-black"> 
                    @DocDescript
                </h6>
            </div>
        </NavLink>  
    </div>
</div>

@code{
    [Parameter]
    public string? DocDisplayName {get;set;}

    [Parameter]
    public string? DocModelName {get; set;}

    [Parameter]
    public string? DocDescript {get; set;}

    [Parameter]
    public string? DocLinkHref {get; set;}

} 

