@* @using APSIM.Documentation *@
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@using Components.Layout
@rendermode InteractiveServer
@page "/"

<PageTitle>APSIM Docs</PageTitle>

<h1 class="page-heading">APSIM Documentation</h1>

<ValidationLinks/>

@code{

}
