@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@using Components.Layout
@rendermode InteractiveServer
@page "/models"

<PageTitle>APSIM Docs - Models</PageTitle>

<h1 class="page-heading">Models</h1>

<ModelLinks/>
